/* src/index.css */

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background-color: #202225;
  color: #fff;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
    sans-serif;
}

#root {
  height: 100vh;
}
